.contaneir-subPage{
    width: 100%;
	height: 100%;
	position:relative;
	margin-top: 15%;

}
.contaneir-subPage table{
	position: relative;
	width: 100%;
	border: none;
    background:rgba(50, 50, 50, 1);
}

.contaneir-subPage table th{
	padding: 10px;
	font-size: 20px;
	font-family: sans-serif;
	color:white;
    text-align: center;
    background-color:rgba(127, 127, 127, 1);
}
.contaneir-subPage table #photo{
	position: relative;
	width: 30%;
}
.contaneir-subPage table th IMG{
	position: relative;
	width: 50px;
	height: 25px;
	padding: 0;
	margin: 0;
}
.contaneir-subPage  td{
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-align: center;
   	background:rgba(0, 0, 0, 0.2); 
}
.contaneir-subPage table .coluna .Disponiblidade{
	background: rgba(0, 0, 0, 0.8);
	padding: 5px;
	cursor: pointer;
}
.contaneir-subPage table .coluna .Disponiblidade:hover{
	background: rgba(0, 0, 0, 0.5);
}
.contaneir-subPage table .coluna .Disponiblidade img{
	width: 20px;
	height: 20px;
	padding: 2px;
	margin-top: 5px;
	position: relative;
}
.contaneir-subPage table .coluna .Disponiblidade a{
	text-decoration: none;
	color: white;
}
.coluna img{
	width: 50%;
	padding: 0;
	margin: 0;
}
